
chatTest.20241220.xcodeproj/xcuserdata/muratcankoc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
chatTest.20241220.xcodeproj/project.xcworkspace/xcuserdata/muratcankoc.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

backend/.env.local
